In [1]:
import pandas as pd

In [2]:
a={"name":["MMM","Pandey"], "Score":[2,3]}

In [3]:
a

{'name': ['MMM', 'Pandey'], 'Score': [2, 3]}

In [4]:
pd.Series(a)

name     [MMM, Pandey]
Score           [2, 3]
dtype: object

In [5]:
pd.DataFrame(a)

     name  Score
0     MMM      2
1  Pandey      3